.banner {
    padding-top: 2rem;
}

.banner :first-child {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}


@media (min-width: 1200px) {
    .banner {
        display:flex;
        width:100%;
    }

        .banner :first-child {
            width: 100%;
            height: auto;
            padding:2rem 2rem 0;
            max-width: 1920px;
            object-fit: contain;
            margin: 0 auto;
        }

}